Repository swm-sink/ai-pod-nobody-knows: changes, and which pre-commit hooks are due for each by the changed paths.
All: xml-validation, navigation-integrity, dual-explanation-check, naming-convention-check

xml-validation:
  name: validate XML syntax and encoding
  entry: scripts/precommit/validate_xml.sh
  language: system

navigation-integrity:
  name: validate @ file references and navigation chains
  entry: scripts/precommit/validate_navigation.sh
  language: system

dual-explanation-check:
  name: ensure educational dual explanations present
  entry: scripts/precommit/validate_dual_explanations.sh
  language: system

naming-convention-check:
  name: validate file naming conventions
  entry: scripts/precommit/validate_naming_conventions.sh
  language: system

fix(openrouter): fix list_models() returning empty list
  langgraph-migration/src/adapters/openrouter/provider.py
Due: none

feat(langfuse): verify SDK installation and configuration
  TODO.MD
  langgraph-migration/test_langfuse_connection.py
Due: none

test(langgraph): verify LangGraph v0.5.4 installation
  TODO.MD
  langgraph-migration/test_langgraph.py
Due: none

docs(progress): create comprehensive progress log for Day 1
  langgraph-migration/PROGRESS_LOG.md
Due: navigation-integrity, naming-convention-check

feat(openrouter): implement real API calls with error handling
  TODO.MD
  langgraph-migration/src/adapters/openrouter/provider.py
Due: none

feat(perplexity): implement real API calls with error handling
  TODO.MD
  langgraph-migration/src/adapters/perplexity/provider.py
  langgraph-migration/tests/test_providers.py
Due: none

feat(agents): implement research-synthesis agent with LangGraph architecture
  langgraph-migration/src/agents/research_synthesis.py
Due: none

docs(registry): update agent migration status - research-synthesis completed
  langgraph-migration/AGENT_REGISTRY.md
Due: navigation-integrity, naming-convention-check

feat(agents): implement question-generator agent with LangGraph architecture
  langgraph-migration/src/agents/question_generator.py
Due: none

docs(registry): update agent migration status - question-generator completed
  langgraph-migration/AGENT_REGISTRY.md
Due: navigation-integrity, naming-convention-check

feat: Create archive directory structure for simplification
  .pre-commit-config.yaml
Due: naming-convention-check

feat(security): Add comprehensive .env.example template
  podcast_production/.env.example
Due: none

feat(state): implement comprehensive state versioning system
  podcast_production/core/state.py
  podcast_production/test_state_migration.py
  podcast_production/test_state_sanitization.py
  podcast_production/test_state_versioning.py
Due: none

feat(monitoring): implement comprehensive performance monitoring system
  podcast_production/core/monitoring.py
  podcast_production/test_monitoring.py
Due: none

feat(health): implement comprehensive system health checking
  podcast_production/core/health.py
  podcast_production/test_health.py
Due: none

feat(integration): Complete security integration and health check system
  podcast_production/agents/__init__.py
  podcast_production/agents/audio_synthesizer.py
  podcast_production/agents/audio_validator.py
  podcast_production/agents/brand_validator.py
  podcast_production/agents/claude_evaluator.py
  podcast_production/agents/episode_planner.py
  podcast_production/agents/gemini_evaluator.py
  podcast_production/agents/question_generator.py
  podcast_production/agents/research_deep_dive.py
  podcast_production/agents/research_discovery.py
  podcast_production/agents/research_discovery_v2.py
  podcast_production/agents/research_synthesis.py
  podcast_production/agents/research_validation.py
  podcast_production/agents/script_writer.py
  podcast_production/check_health.py
  podcast_production/config/voice_config.py
  podcast_production/main.py
  podcast_production/nodes/audio_nodes.py
  podcast_production/nodes/brand_validator_node.py
  podcast_production/nodes/episode_planner_node.py
  podcast_production/nodes/evaluation_nodes.py
  podcast_production/nodes/planning_nodes.py
  podcast_production/nodes/question_generator_node.py
  podcast_production/nodes/script_writer_node.py
  podcast_production/workflows/main_workflow.py
Due: none

🧠 ENHANCED: Advanced Memory Architecture & /init Deep Analysis
  .claude/agents/simplified/audio-producer.md
  .claude/agents/simplified/audio-validator.md
  .claude/agents/simplified/batch-processor.md
  .claude/agents/simplified/cost-monitor.md
  .claude/agents/simplified/fact-checker.md
  .claude/agents/simplified/judge.md
  .claude/agents/simplified/polisher.md
  .claude/agents/simplified/researcher.md
  .claude/agents/simplified/synthesizer.md
  .claude/agents/simplified/writer.md
  .claude/commands/simplified/audio-workflow.md
  .claude/commands/simplified/meta-chain.md
  .claude/commands/simplified/podcast-workflow.md
  .claude/commands/simplified/production-workflow.md
  .claude/commands/simplified/research-workflow.md
  .claude/config/hardening.yaml
  .claude/context/simplified/CONTEXT_INDEX.md
  .claude/context/simplified/agents.md
  .claude/context/simplified/quality.md
  .claude/context/simplified/troubleshooting.md
  .claude/context/simplified/workflow.md
  .claude/hooks/error-recovery.sh
  .claude/hooks/simplified/post-tool-tracking.sh
  .claude/hooks/simplified/pre-tool-validation.sh
  .claude/hooks/simplified/session-lifecycle.sh
  .claude/migration/MIGRATION_GUIDE.md
  .claude/processes/documentation-update-20250902.md
  .claude/processes/engineering-analysis-20250902.md
  .claude/processes/hook-consolidation-2025-09-01.md
  .claude/processes/phase6-cleanup-complete-20250901.md
  .claude/processes/production-readiness-certification-20250902.md
  .claude/validation/hardening-validation.sh
  CLAUDE.md
  setup-mcp.sh
  test-mcp-connections.sh
  tests/simplified-architecture-validation.sh
  validate-config.sh
Due: navigation-integrity, naming-convention-check

📚 ATOMIC: Add user documentation guides
  API_GUIDE.md
  EPISODE_GUIDE.md
Due: navigation-integrity, naming-convention-check

🎯 ATOMIC: Simplify CLAUDE.md - Remove Over-Engineering
  .claude/context/simple/README.md
  CLAUDE.md
Due: navigation-integrity, naming-convention-check

🎯 ATOMIC: CLAUDE.md Simplified to 115 lines
  CLAUDE-simplified.md
  CLAUDE.md
Due: navigation-integrity, naming-convention-check

🔧 ATOMIC: Fix command directory structure
  .claude/commands/simplified/audio-workflow.md
  .claude/commands/simplified/meta-chain.md
  .claude/commands/simplified/podcast-workflow.md
  .claude/commands/simplified/production-workflow.md
  .claude/commands/simplified/research-workflow.md
Due: navigation-integrity, naming-convention-check

🎯 ATOMIC: Remove pre-commit system entirely
  .pre-commit-config.yaml.disabled
Due: none

✨ ATOMIC: Config System Simplified to Minimum Viable
  .claude/config/environment-management.md
  .claude/config/error-handling.yaml
  .claude/config/hardening.yaml
  .claude/config/model-providers.yaml
  .claude/config/production-config.yaml
  .claude/config/quality_gates.yaml
  .claude/config/voice.json
Due: navigation-integrity, naming-convention-check

✨ ATOMIC: Replace 600+ line hooks with 25-line simple tracker
  .claude/hooks/cost-tracker.sh
  .claude/hooks/error-recovery.sh
  .claude/hooks/simplified/post-tool-tracking.sh
  .claude/hooks/simplified/pre-tool-validation.sh
  .claude/hooks/simplified/session-lifecycle.sh
  .markdownlint.json
  .pre-commit-config.yaml.disabled
Due: naming-convention-check

📁 ATOMIC: Flatten command directory structure
  .claude/commands/audio-workflow.md
  .claude/commands/meta-chain.md
  .claude/commands/podcast-workflow.md
  .claude/commands/production-workflow.md
  .claude/commands/research-workflow.md
  CLAUDE-simplified.md
Due: navigation-integrity, naming-convention-check

🎯 FINAL: Project Successfully Simplified to Minimum Viable Complexity
  .claude/context/README.md
Due: navigation-integrity, naming-convention-check

📈 ATOMIC: Enhanced CLAUDE.md with Essential Context
  .claude/context/claude-code.md
  .claude/context/elevenlabs.md
  .claude/context/perplexity.md
  CLAUDE-old-enforcement.md
  CLAUDE.md
  build/scripts/start-claude.sh
Due: navigation-integrity, naming-convention-check

🎯 FINAL: Project Properly Organized with Essential Context
  episodes/dashboard.py
  episodes/launch_dashboard.sh
  episodes/test/validation_episodes_2_3/brand-voice-consistency-analysis.md
  episodes/test/validation_episodes_2_3/cross-episode-analysis-comprehensive.md
  episodes/test/validation_episodes_2_3/episode-2-test-config.json
  episodes/test/validation_episodes_2_3/episode-2-validation-log.md
  episodes/test/validation_episodes_2_3/episode-3-test-config.json
  episodes/test/validation_episodes_2_3/episode-3-validation-log.md
  episodes/test/validation_episodes_2_3/executive-validation-report.md
  episodes/test/validation_episodes_2_3/final-validation-summary.md
  scripts/convert-xml-to-md.sh
  scripts/fix-xml-references.sh
Due: navigation-integrity, naming-convention-check

🧹 ATOMIC: Final cleanup - removed remaining unnecessary files
  API_GUIDE.md
  CONTRIBUTING.md
Due: navigation-integrity, naming-convention-check

🧹 ATOMIC: Commit final deletion (EPISODE_GUIDE.md)
  EPISODE_GUIDE.md
Due: navigation-integrity, naming-convention-check

📋 ATOMIC: Create comprehensive project handoff documentation
  FINALIZATION_CHECKLIST.md
  PROJECT_HANDOFF_SUMMARY.md
Due: navigation-integrity, naming-convention-check

refactor: consolidate project structure under nobody-knows/ directory
  episodes/README.md
  episodes/state.json
  nobody-knows/content/config/project_config.json
  nobody-knows/content/config/quality_gates.json
  nobody-knows/content/episode-template.json
  nobody-knows/content/reference-scripts/ep002_original.md
  nobody-knows/content/reference-scripts/ep003_original.md
  nobody-knows/content/reference-scripts/ep004_original.md
  nobody-knows/content/reference-scripts/ep005_original.md
  nobody-knows/content/reference-scripts/ep006_original.md
  nobody-knows/content/reference-scripts/ep007_original.md
  nobody-knows/content/reference-scripts/ep008_original.md
  nobody-knows/content/reference-scripts/ep009_original.md
  nobody-knows/content/reference-scripts/ep010_original.md
  nobody-knows/content/reference-scripts/episode_metadata.json
  nobody-knows/content/series-bible/episodes_master.json
  nobody-knows/content/series-bible/season_themes.json
  nobody-knows/content/series-bible/series_bible.md
  nobody-knows/content/series-bible/teaching_philosophy.md
  nobody-knows/output/README.md
  nobody-knows/production/__pycache__/state_manager.cpython-313.pyc
  nobody-knows/production/cost_tracking_functions.sh
  nobody-knows/production/state.json
  nobody-knows/production/state_manager.py
  nobody-knows/production/test_cost_integration.sh
  nobody-knows/production/test_episode_20250903/research/research_findings.json
  nobody-knows/production/test_episode_20250903/research/validation_report.json
  nobody-knows/src/utils/test_chunking.py
  nobody-knows/src/validation/ssml_validator.py
  src/audio/tts_direct_api.py
  src/audio/tts_single_call.py
  src/validation/stt_validation.py
Due: navigation-integrity, naming-convention-check

Path conditions:
  xml-validation: any of: \.xml$
  navigation-integrity: any of: \.(md|xml)$
  dual-explanation-check: any of: \.xml$, but not: (?x)^(
  \.claude/archive/|
  \.claude/shared/templates/|
  \.claude/.*constants\.xml$
)

  naming-convention-check: any of: \.(md|xml|yaml|json)$
