Repository swm-sink/ai-pod-nobody-knows: changes, and which pre-commit hooks are due for each by the changed paths.
All: xml-validation, navigation-integrity, dual-explanation-check, naming-convention-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
      - id: check-xml
      - id: mixed-line-ending
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-case-conflict
      - id: check-executables-have-shebangs

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args:
          - --baseline
          - .secrets.baseline
        exclude: |
          (?x)^(
            node_modules/|
            dist/|
            build/|
            .*\.ipynb$
          )

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        args: ['--config', '.markdownlint.json']
        files: \.(md|markdown)$

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ['-d', '{extends: default, rules: {line-length: {max: 120}}}']

  # Custom project validation
  - repo: local
    hooks:
      - id: forbid-sensitive-files
        name: forbid committing sensitive files
        entry: scripts/precommit/forbid_sensitive_files.sh
        language: system
        stages: [commit]

      - id: xml-validation
        name: validate XML syntax and encoding
        entry: scripts/precommit/validate_xml.sh
        language: system
        files: \.xml$

      - id: navigation-integrity
        name: validate @ file references and navigation chains
        entry: scripts/precommit/validate_navigation.sh
        language: system
        files: \.(md|xml)$

      - id: dual-explanation-check
        name: ensure educational dual explanations present
        entry: scripts/precommit/validate_dual_explanations.sh
        language: system
        files: \.xml$
        exclude: |
          (?x)^(
            \.claude/archive/|
            \.claude/shared/templates/|
            \.claude/.*constants\.xml$
          )

      - id: naming-convention-check
        name: validate file naming conventions
        entry: scripts/precommit/validate_naming_conventions.sh
        language: system
        files: \.(md|xml|yaml|json)$

      - id: prevent-root-pollution
        name: prevent root directory pollution
        entry: scripts/precommit/prevent_root_pollution.sh
        language: system
        pass_filenames: false
        stages: [commit]

fix: revert agent naming to numbered prefixes for Claude Code compatibility
  .claude/agents/production/01_production-orchestrator.md
  .claude/agents/production/02_episode-planner.md
  .claude/agents/production/03_script-writer.md
  .claude/agents/production/04_quality-claude.md
  .claude/agents/production/05_quality-gemini.md
  .claude/agents/production/06_feedback-synthesizer.md
  .claude/agents/production/07_script-polisher.md
  .claude/agents/production/08_final-reviewer.md
  .claude/agents/production/09_tts-optimizer.md
  .claude/agents/production/10_audio-synthesizer.md
Due: navigation-integrity, naming-convention-check

feat: complete 50-step validation framework and final project validation
  .claude/agents/production/01_production_orchestrator.md
  .claude/agents/production/02_episode_planner.md
  .claude/agents/production/03_script_writer.md
  .claude/agents/production/04_quality_claude.md
  .claude/agents/production/05_quality_gemini.md
  .claude/agents/production/06_feedback_synthesizer.md
  .claude/agents/production/07_script_polisher.md
  .claude/agents/production/08_final_reviewer.md
  .claude/agents/production/09_tts_optimizer.md
  .claude/agents/production/10_audio_synthesizer.md
  .claude/agents/research/01_research_orchestrator.md
  .claude/agents/research/02_deep_research_agent.md
  .claude/agents/research/03_question_generator.md
  .claude/agents/research/04_research_synthesizer.md
  .claude/commands/produce-series.md
  .claude/docs/MAINTENANCE_PROCEDURES.md
  .claude/validation/PRE_PUSH_CHECKLIST.md
  .claude/validation/reports/baseline_validation_20250819.md
  .claude/validation/reports/final_validation_20250819.md
  .claude/validation/run_validation.md
  .claude/validation/validation_report_template.md
  .pre-commit-config.yaml
  scripts/validate_pre_push.sh
  validation/post-repair-test.md
Due: navigation-integrity, naming-convention-check

fix: update two-stream architecture documentation to reflect current state
  CLAUDE.md
Due: navigation-integrity, naming-convention-check

feat: organize project structure for better GitHub presentation
  .claude/validation/reports/validation_20250819_090445.md
  .gitignore
  docs/development/CLAUDE_CODE_EXECUTION_PLAN.md
  docs/development/PROJECT_ANALYSIS_SUMMARY.md
  sessions/ep_002_20250814_1245/02_questions_complete.json
  sessions/ep_002_20250814_1245/03_synthesis_complete.json
  sessions/ep_002_20250814_new/pipeline_status.json
  sessions/ep_test_endtoend_20250818/production/audio_synthesis_report.json
  sessions/ep_test_endtoend_20250818/production/episode_plan.json
  sessions/ep_test_endtoend_20250818/production/feedback_synthesis.json
  sessions/ep_test_endtoend_20250818/production/final_review.json
  sessions/ep_test_endtoend_20250818/production/production_status.json
  sessions/ep_test_endtoend_20250818/production/quality_claude_report.json
  sessions/ep_test_endtoend_20250818/production/quality_gemini_report.json
  sessions/ep_test_endtoend_20250818/production/script_draft.md
  sessions/ep_test_endtoend_20250818/production/script_final.md
  sessions/ep_test_endtoend_20250818/production/tts_optimization.json
  sessions/ep_test_endtoend_20250818/research/deep_research_complete.json
  sessions/ep_test_endtoend_20250818/research/questions_complete.json
  sessions/ep_test_endtoend_20250818/research/research_complete.json
  sessions/ep_test_endtoend_20250818/research/research_summary.md
  sessions/ep_test_endtoend_20250818/research/session_metadata.json
  sessions/ep_test_endtoend_20250818/research/validation_report.json
  sessions/handover_20250812_0940.md
  sessions/phase3-lessons-learned.md
  sessions/project-status-handover.md
  sessions/test_episode_20250818_211549/quality_report.json
  sessions/test_episode_20250818_211549/research_summary.md
  sessions/test_episode_20250818_211549/script_draft.md
  sessions/test_episode_20250818_211549/session_summary.md
  sessions/test_session/state.json
  validation/post-repair-test.md
  validation/pre-repair-test.md
Due: navigation-integrity, naming-convention-check

docs: comprehensive markdown documentation cleanup
  .claude/CONTEXT.md
  .claude/README.md
  .claude/SYSTEM_TRANSFORMATION_SUMMARY.md
  .claude/agents/NAME_MAPPING.md
  .claude/agents/production/03_script_writer.md
  .claude/agents/production/07_script_polisher.md
  .claude/agents/production/09_tts_optimizer.md
  .claude/agents/production/10_audio_synthesizer.md
  .claude/agents/research/02_deep_research_agent.md
  .claude/agents/research/03_question_generator.md
  .claude/agents/research/04_research_synthesizer.md
  .claude/commands/produce-episode.md
  .claude/commands/produce-research.md
  .claude/commands/produce-series.md
  .claude/commands/test-episode.md
  .claude/context/01_project_overview.md
  .claude/context/CONTEXT.md
  .claude/docs/CONTEXT.md
  .claude/docs/MAINTENANCE_PROCEDURES.md
  .claude/docs/NAVIGATION_INDEX.md
  .claude/docs/TOKEN_OPTIMIZATION_GUIDE.md
  .claude/validation/reports/final_validation_20250819.md
  .claude/validation/reports/validation_20250819_090445.md
  CONTRIBUTING.md
  DEPLOYMENT.md
  README.md
  sessions/CONTEXT.md
Due: navigation-integrity, naming-convention-check

docs: complete final cleanup and validation system integration
  .claude/agents/production/04_quality_claude.md
  .claude/context/01_troubleshooting_guide.md
  .claude/context/02_hallucination_prevention_guide.md
  .claude/context/02_quick_reference.md
  .claude/context/02_walk_crawl_run_phases.md
  .claude/docs/TOKEN_OPTIMIZATION_GUIDE.md
  .claude/docs/architecture.md
  .claude/docs/vision.md
  CLAUDE.md
  projects/nobody-knows/CLAUDE.md
Due: navigation-integrity, naming-convention-check

feat: implement comprehensive 10-step meta-prompting system with command structure
  .claude/commands/meta-prompting/assess.md
  .claude/commands/meta-prompting/commit.md
  .claude/commands/meta-prompting/decompose.md
  .claude/commands/meta-prompting/explore.md
  .claude/commands/meta-prompting/implement-tdd.md
  .claude/commands/meta-prompting/plan.md
  .claude/commands/meta-prompting/refactor-tdd.md
  .claude/commands/meta-prompting/research.md
  .claude/commands/meta-prompting/retrospect.md
  .claude/commands/meta-prompting/validate.md
  .claude/commands/production/produce-episode.md
  .claude/commands/production/produce-research.md
  .claude/commands/production/produce-series.md
  .claude/commands/production/review-research.md
  .claude/commands/production/test-episode.md
  .claude/prompts/meta_prompts/exploration_template.md
  .claude/prompts/meta_prompts/planning_template.md
  .claude/prompts/meta_prompts/research_template.md
  .claude/prompts/meta_prompts/task_breakdown_template.md
  CLAUDE.md
Due: navigation-integrity, naming-convention-check

feat: integrate comprehensive 50-step pre-push validation protocol into CLAUDE.md
  CLAUDE.md
Due: navigation-integrity, naming-convention-check

feat: add comprehensive 100-step system assessment report
  AI_PODCAST_SYSTEM_ASSESSMENT_REPORT_2025.md
Due: navigation-integrity, naming-convention-check

feat: add 2025 AI orchestration best practices compliance matrix
  BEST_PRACTICES_COMPLIANCE_MATRIX_2025.md
Due: navigation-integrity, naming-convention-check

feat: add comprehensive optimization recommendations report
  OPTIMIZATION_RECOMMENDATIONS_2025.md
Due: navigation-integrity, naming-convention-check

feat: add comprehensive risk assessment and mitigation analysis
  RISK_ASSESSMENT_2025.md
Due: navigation-integrity, naming-convention-check

feat: add comprehensive 12-month implementation roadmap
  IMPLEMENTATION_ROADMAP_2025.md
Due: navigation-integrity, naming-convention-check

feat: add comprehensive architecture documentation and templates
  .claude/context/mcp-tool-inheritance.md
  .claude/context/sub-agent-architecture.md
  .claude/templates/agent-template-best-practices.md
Due: navigation-integrity, naming-convention-check

refactor: update agents and configuration from comprehensive system assessment
  .claude/agents/audio-quality-validator.md
  .claude/agents/audio-synthesizer-direct-api.md
  .claude/agents/audio-synthesizer.md
  .claude/agents/brand-voice-validator.md
  .claude/agents/episode-planner.md
  .claude/agents/quality-claude.md
  .claude/agents/quality-gemini.md
  .claude/agents/quality-perplexity.md
  .claude/agents/question-generator.md
  .claude/agents/research-deep-dive.md
  .claude/agents/research-discovery.md
  .claude/agents/research-synthesis.md
  .claude/agents/research-validation.md
  .claude/agents/script-polisher.md
  .claude/agents/script-writer.md
  .claude/agents/simple-test.md
  .claude/agents/test-simple.md
  .claude/agents/tts-optimizer.md
  .claude/commands/batch-produce-all-episodes.md
  .claude/commands/batch-research-all-episodes.md
  .claude/commands/produce-episode-native.md
  .claude/commands/research-episode-enhanced.md
  .claude/commands/research-episode-optimized.md
  .claude/hooks/agent-architecture-validator.sh
  .claude/settings.json
  .claude/templates/template_usage_guide.md
  .claude/validation/reports/validation_20250825_230848.md
  .claude/validation/validation-success-20250825-230825.txt
  CLAUDE.md
  sessions/batch_research_20250825_231346/batch_progress.json
  start-claude.sh
Due: navigation-integrity, naming-convention-check

fix: resolve gitleaks TOML syntax error by consolidating duplicate allowlist sections
  .gitleaks.toml
Due: none

feat: enhance slash commands with 2025 prompt engineering best practices
  .claude/agents/audio-validator.md
  .claude/agents/brand-validator.md
  .claude/agents/claude.md
  .claude/agents/gemini.md
  .claude/agents/perplexity.md
  .claude/context/01_current_system_status.md
  .claude/context/03_meta_prompting_workflow_summary.md
  .claude/context/claude_code_integration.md
  .claude/context/project_foundation.md
  .claude/processes/documentation-validation-50-point-checklist-20250828.md
  .claude/processes/meta-chain-security-documentation-remediation-20250828.md
  CLAUDE.md
Due: navigation-integrity, naming-convention-check

feat: finalize v1.0.0 release with comprehensive security audit
  RELEASE_NOTES_v1.0.0.md
Due: navigation-integrity, naming-convention-check

feat(config): add environment configuration template
  langgraph-migration/config.example
Due: none

feat(validation): add MCP connection validation script
  langgraph-migration/src/validate_mcp.py
Due: none

feat(testing): add comprehensive test framework for LangGraph agents
  langgraph-migration/tests/conftest.py
  langgraph-migration/tests/test_agents.py
Due: none

feat(agents): extract research-discovery agent to LangGraph node
  langgraph-migration/src/agents/research_discovery.py
Due: none

docs(progress): update TODO.MD with implementation progress
  TODO.MD
Due: none

feat(agents): extract research-deep-dive agent to LangGraph node
  CLAUDE.md
  langgraph-migration/src/agents/research_deep_dive.py
  langgraph-migration/src/agents/research_discovery.py
  langgraph-migration/src/validate_mcp.py
  langgraph-migration/tests/conftest.py
  langgraph-migration/tests/test_agents.py
Due: navigation-integrity, naming-convention-check

feat(agents): extract research-validation agent to LangGraph node
  TODO.MD
  langgraph-migration/src/agents/research_validation.py
Due: none

docs(progress): update TODO.MD with agent extraction progress
  TODO.MD
Due: none

docs: create comprehensive implementation summary report
  langgraph-migration/IMPLEMENTATION_SUMMARY.md
Due: navigation-integrity, naming-convention-check

feat(architecture): implement modular provider-agnostic architecture
  langgraph-migration/config/config.yaml
  langgraph-migration/config/providers.yaml
  langgraph-migration/prompts/research/discovery.yaml
  langgraph-migration/src/adapters/langgraph/provider.py
  langgraph-migration/src/core/config/manager.py
  langgraph-migration/src/core/di/container.py
  langgraph-migration/src/core/interfaces/provider.py
  langgraph-migration/src/core/templates/manager.py
  langgraph-migration/src/example_usage.py
Due: naming-convention-check

feat(modular): implement provider-agnostic research pipeline
  TODO.MD
  langgraph-migration/src/agents/research_discovery_v2.py
  langgraph-migration/src/workflows/research_pipeline.py
Due: none

feat(config): update configuration for API key management
  TODO.MD
  langgraph-migration/config.example
  langgraph-migration/config/providers.yaml
Due: naming-convention-check

feat(adapters): implement provider adapters for LangFuse, Perplexity, and OpenRouter
  langgraph-migration/src/adapters/langfuse/__init__.py
  langgraph-migration/src/adapters/langfuse/provider.py
  langgraph-migration/src/adapters/openrouter/__init__.py
  langgraph-migration/src/adapters/openrouter/provider.py
  langgraph-migration/src/adapters/perplexity/__init__.py
  langgraph-migration/src/adapters/perplexity/provider.py
Due: none

feat(validation): add API key validation and provider test suite
  langgraph-migration/setup_env.sh
  langgraph-migration/src/validate_api_keys.py
  langgraph-migration/tests/test_providers.py
Due: none

docs(progress): mark API key management tasks as complete
  TODO.MD
Due: none

docs(migration): comprehensive local deployment plan and agent registry
  TODO.MD
  langgraph-migration/AGENT_REGISTRY.md
  langgraph-migration/validation_report.txt
Due: navigation-integrity, naming-convention-check
