Repository swm-sink/ai-pod-nobody-knows: changes, and which pre-commit hooks are due for each by the changed paths.
All: xml-validation, navigation-integrity, dual-explanation-check, naming-convention-check

xml-validation:
  name: validate XML syntax and encoding
  entry: scripts/precommit/validate_xml.sh
  language: system

navigation-integrity:
  name: validate @ file references and navigation chains
  entry: scripts/precommit/validate_navigation.sh
  language: system

dual-explanation-check:
  name: ensure educational dual explanations present
  entry: scripts/precommit/validate_dual_explanations.sh
  language: system

naming-convention-check:
  name: validate file naming conventions
  entry: scripts/precommit/validate_naming_conventions.sh
  language: system

fix: correct GitHub URL in README and remove placeholder
  README.md
Due: navigation-integrity, naming-convention-check

fix(navigation): correct @ links in NAVIGATION indexes and agents; add markdownlint disables; use timeout fallback consistently
  .claude/NAVIGATION_INDEX.md
  .claude/README.md
  .claude/context/ai-orchestration/NAVIGATION.md
  .claude/context/elevenlabs/NAVIGATION.md
  .claude/level-2-production/agents/01_research_coordinator.md
  .claude/level-2-production/agents/09_audio_synthesizer.md
  .claude/level-2-production/tests/test-mcp-connectivity.sh
Due: navigation-integrity, naming-convention-check

docs: complete documentation perfection review
  .claude/README.md
  CONTRIBUTORS.md
  README.md
Due: navigation-integrity, naming-convention-check

feat(script): complete Episode 1 production script - 38,247 characters
  .claude/level-2-production/sessions/ep_001_20250814_production/05_script_complete.json
  .claude/level-2-production/sessions/ep_001_20250814_production/episode_01_complete_script.md
Due: navigation-integrity, naming-convention-check

feat(tts): complete Episode 1 TTS optimization for ElevenLabs Amelia voice
  .claude/level-2-production/sessions/ep_001_20250814_production/07_tts_optimization_complete.json
  .claude/level-2-production/sessions/ep_001_20250814_production/episode_01_tts_optimized.txt
Due: naming-convention-check

fix(validation): correct file discovery regex in config audit system
  .claude/level-2-production/tools/config-validation-hooks.sh
Due: none

feat(config): migrate quality_gates.yaml to CONFIG references
  .claude/level-2-production/config/production-config.yaml
  .claude/level-2-production/config/quality_gates.yaml
  .claude/level-2-production/tools/config-loader.sh
Due: naming-convention-check

feat(context): implement selective context loading system
  .claude/CONTEXT.md
  .claude/NAVIGATION.md
  .claude/context/CONTEXT.md
  .claude/context/foundation/CONTEXT.md
  .claude/level-1-dev/CONTEXT.md
  .claude/level-2-production/CONTEXT.md
  .claude/level-2-production/agents/CONTEXT.md
  .claude/level-2-production/sessions/CONTEXT.md
  .claude/tools/test_todos_schema.py
  .claudeignore
  CLAUDE.md
Due: navigation-integrity, naming-convention-check

feat(production): complete production infrastructure and episode content
  .claude/IMPORT_SYSTEM_EXAMPLE.md
  .claude/INHERITANCE_TEST_REPORT.md
  .claude/MAINTENANCE_PROCEDURES.md
  .claude/NAVIGATION.md
  .claude/NAVIGATION_INDEX.md
  .claude/TOKEN_OPTIMIZATION_GUIDE.md
  .claude/context-packages/learning-essentials.xml
  .claude/context-packages/production-complete.xml
  .claude/context-packages/troubleshooting-kit.xml
  .claude/context/tools/elevenlabs-v3-optimization-guide.xml
  .claude/context/tools/gemini-cli-quality-judge-guide.xml
  .claude/imports/README.md
  .claude/level-2-production/analysis/comprehensive-command-autonomy-research.md
  .claude/level-2-production/config/tts-config.yaml
  .claude/level-2-production/sessions/ep_001_20250814_production/09_audio_synthesis_complete.json
  .claude/level-2-production/tools/config-drift-detector.sh
  .claude/level-2-production/tools/config-loader.sh
  .claude/level-2-production/tools/validation-test.sh
  .claude/templates/CLAUDE_MD_TEMPLATES.md
  .claude/tools/test_todos_schema.py
  .claudeignore
  CLAUDE.md
  projects/nobody-knows/CLAUDE.md
  projects/nobody-knows/existing-episodes/ep001_original.md
  projects/nobody-knows/existing-episodes/ep002_original.md
  projects/nobody-knows/existing-episodes/ep003_original.md
  projects/nobody-knows/existing-episodes/ep004_original.md
  projects/nobody-knows/existing-episodes/ep005_original.md
  projects/nobody-knows/existing-episodes/ep006_original.md
  projects/nobody-knows/existing-episodes/ep007_original.md
  projects/nobody-knows/existing-episodes/ep008_original.md
  projects/nobody-knows/existing-episodes/ep009_original.md
  projects/nobody-knows/existing-episodes/ep010_original.md
  projects/nobody-knows/existing-episodes/episode_metadata.json
Due: xml-validation, navigation-integrity, dual-explanation-check, naming-convention-check

docs(test-framework): add comprehensive test framework documentation
  .claude/level-1-dev/tests/README.md
Due: navigation-integrity, naming-convention-check

feat(test-framework): add test coverage analyzer
  .claude/level-1-dev/tests/coverage.sh
Due: none

fix(test-framework): correct path resolution in test files
  .claude/level-1-dev/tests/ci-simulate.sh
  .claude/level-1-dev/tests/integration/test-quality-gates.sh
  .claude/level-1-dev/tests/integration/test-workflows.sh
  .claude/level-1-dev/tests/reports/test-report-20250816-085104.md
  .claude/level-1-dev/tests/run-all-tests.sh
  .claude/level-1-dev/tests/test-utils.sh
  .claude/level-1-dev/tests/unit/test-agent-builder.sh
  .claude/level-1-dev/tests/unit/test-command-builder.sh
  .claude/level-1-dev/tests/unit/test-context-researcher.sh
  .claude/level-1-dev/tests/unit/test-templates.sh
Due: navigation-integrity, naming-convention-check

feat(versioning): create version tracking directory structure
  .claude/level-1-dev/versions/.gitkeep
  .claude/level-1-dev/versions/history/.gitkeep
Due: none

feat(versioning): create version manifest schema
  .claude/level-1-dev/versions/schema.yaml
Due: naming-convention-check

feat(version-manager): create comprehensive version management script
  .claude/level-1-dev/hooks/pre-commit-test.sh
  .claude/level-1-dev/tests/reports/test-report-20250816-085727.md
  .claude/level-1-dev/versions/manifests/agent-builder.yaml
Due: navigation-integrity, naming-convention-check

feat(agents): add version headers to all agent files
  .claude/level-1-dev/agents/file-validator.md
  .claude/level-1-dev/agents/test-agent.md
  .claude/level-1-dev/versions/manifests/file-validator.yaml
  .claude/level-1-dev/versions/manifests/test-agent.yaml
Due: navigation-integrity, naming-convention-check

feat(commands): add version headers to all command files
  .claude/level-1-dev/commands/agent-builder-dev.md
  .claude/level-1-dev/versions/manifests/agent-builder-dev.yaml
  .claude/level-1-dev/versions/manifests/command-builder-dev.yaml
  .claude/level-1-dev/versions/manifests/context-researcher-dev.yaml
  .claude/level-1-dev/versions/manifests/session-manager.yaml
  .claude/level-1-dev/versions/manifests/test-workflow.yaml
  .claude/level-1-dev/versions/manifests/validate-project-structure.yaml
Due: navigation-integrity, naming-convention-check

feat(changelog): create changelog generator script
  .claude/level-1-dev/bin/changelog-generator.sh
  .claude/level-1-dev/bin/version-manager.sh
Due: none

feat(compatibility): create compatibility matrix and checker
  .claude/level-1-dev/versions/compatibility-matrix.yaml
Due: naming-convention-check

feat(compatibility): add compatibility checker script
  .claude/level-1-dev/bin/compatibility-checker.sh
Due: none

feat(migrations): create migration infrastructure
  .claude/level-1-dev/versions/migrations/applied/.gitkeep
  .claude/level-1-dev/versions/migrations/available/.gitkeep
  .claude/level-1-dev/versions/migrations/failed/.gitkeep
  .claude/level-1-dev/versions/migrations/migration-template.sh
Due: none

feat(migrations): add migration runner script
  .claude/level-1-dev/bin/migration-runner.sh
Due: none

feat(validation): create comprehensive version validation script
  .claude/level-1-dev/bin/version-validator.sh
Due: none

docs(version-management): create comprehensive version management guide
  .claude/level-1-dev/docs/version-management-guide.md
Due: navigation-integrity, naming-convention-check

feat(rollback): create comprehensive rollback management system
  .claude/level-1-dev/bin/rollback-manager.sh
Due: none

test(version-management): create integration tests for version system
  .claude/level-1-dev/tests/integration/test-version-management.sh
  .claude/level-1-dev/tests/test-version-system.sh
  .claude/level-1-dev/versions/history/test-component-97647_20250816_104810.yaml
Due: naming-convention-check

Tasks 28-30/75: Quality standards, metrics, and pre-commit hooks
  .claude/level-1-dev/quality/hooks/pre-commit-quality.sh
  .claude/level-1-dev/quality/metrics.yaml
  .claude/level-1-dev/quality/standards.yaml
Due: naming-convention-check

Tasks 31-32/75: Post-commit validation and quality dashboard
  .claude/level-1-dev/quality/hooks/post-commit-validation.sh
  .claude/level-1-dev/quality/quality-dashboard.sh
Due: none

Tasks 33-34/75: Code review checklist and automated quality reports
  .claude/level-1-dev/quality/code-review-checklist.md
  .claude/level-1-dev/quality/generate-quality-report.sh
Due: navigation-integrity, naming-convention-check

feat(quality): complete Task 35 - Quality Enforcement Hooks with integration
  .claude/level-1-dev/level-1-dev-plan.md
  .claude/level-1-dev/quality/dependency-checker.sh
  .claude/level-1-dev/quality/error-patterns.md
  .claude/level-1-dev/quality/error-standards.yaml
  .claude/level-1-dev/quality/hooks/README.md
  .claude/level-1-dev/quality/hooks/hook-manager.sh
  .claude/level-1-dev/quality/hooks/install-hooks.sh
  .claude/level-1-dev/quality/hooks/pre-push-quality.sh
  .claude/level-1-dev/quality/hooks/prepare-commit-msg.sh
  .claude/level-1-dev/quality/performance-baseline-manager.sh
  .claude/level-1-dev/quality/performance-benchmarks.sh
  .claude/level-1-dev/quality/performance-regression-detector.sh
  .claude/level-1-dev/quality/recovery-procedures.md
  .claude/level-1-dev/quality/secret-detector.sh
  .claude/level-1-dev/quality/security-scanner.sh
  .claude/level-1-dev/quality/test-quality-gates.sh
  .claude/level-1-dev/security/security-config.yaml
  .claude/level-1-dev/templates/error-handling-template.sh
  .pre-commit-config.yaml
Due: navigation-integrity, naming-convention-check

policy: add strict LLM anti-pattern enforcement section and adjust chain-of-thought exposure rules; validate via precommit scripts
  CLAUDE.md
Due: navigation-integrity, naming-convention-check

refactor: consolidate agent system to two-stream architecture
  .claude/agents/production/01_production-orchestrator.md
  .claude/agents/production/02_episode-planner.md
  .claude/agents/production/03_script-writer.md
  .claude/agents/production/04_quality-claude.md
  .claude/agents/production/05_quality-gemini.md
  .claude/agents/production/06_feedback-synthesizer.md
  .claude/agents/production/07_script-polisher.md
  .claude/agents/production/08_final-reviewer.md
  .claude/agents/production/09_tts-optimizer.md
  .claude/agents/production/10_audio-synthesizer.md
  .claude/agents/research-synthesizer.md
  .claude/agents/research/01_research-orchestrator.md
  .claude/agents/research/02_deep-research-agent.md
  .claude/agents/research/03_question-generator.md
  .claude/commands/produce-episode.md
  .claude/commands/produce-research.md
  .claude/commands/produce-series.md
  .claude/commands/review-research.md
Due: navigation-integrity, naming-convention-check

docs: add secure GitHub PAT configuration to CLAUDE.md
  CLAUDE.md
Due: navigation-integrity, naming-convention-check

fix: standardize agent naming for Claude Code discovery
  .claude/agents/NAME_MAPPING.md
  .claude/agents/production/audio-synthesizer.md
  .claude/agents/production/episode-planner.md
  .claude/agents/production/feedback-synthesizer.md
  .claude/agents/production/final-reviewer.md
  .claude/agents/production/production-orchestrator.md
  .claude/agents/production/quality-claude.md
  .claude/agents/production/quality-gemini.md
  .claude/agents/production/script-polisher.md
  .claude/agents/production/script-writer.md
  .claude/agents/production/tts-optimizer.md
  .claude/agents/research-synthesizer.md
  .claude/agents/research/deep-research-agent.md
  .claude/agents/research/question-generator.md
  .claude/agents/research/research-orchestrator.md
  .claude/agents/research/research-synthesizer.md
  CLAUDE.md
Due: navigation-integrity, naming-convention-check

Path conditions:
  xml-validation: any of: \.xml$
  navigation-integrity: any of: \.(md|xml)$
  dual-explanation-check: any of: \.xml$, but not: (?x)^(
  \.claude/archive/|
  \.claude/shared/templates/|
  \.claude/.*constants\.xml$
)

  naming-convention-check: any of: \.(md|xml|yaml|json)$
